<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="consumerKey" value="licUTuwmj4J16pMy30UFQZofI"/>
    <add key="consumerSecret" value="LuLn34qrT7iczsga7RvtJnHf1jncDH4oJU70Btzj9LTz8rjA5E"/>
    <add key="accessToken" value="801871349434187776-mcvC35KftjhlR7doV6l6UQzrAWIFbdz"/>
    <add key="accessTokenSecret" value="AWClOy005tBXiyxnFUlLVAuDhu269YI5vyh5HSW1mUA2D"/>
  </appSettings>
</configuration>